$primary: #9370db;
$background-color: #fdfdfd;
$primary-black: #424242;
$secondary-black: #838383;

// Import Bootstrap
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.min.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    background-color: $background-color;
    // background-color: black;
    color: $primary-black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
